{% include base_path.html %}

{% comment %}
  Display syllabus in tabular form.
  Days are displayed if at least one episode has 'start = true'.
{% endcomment %}
<div class="syllabus">
  <h2 id="schedule">Schedule</h2>

  {% assign day = 0 %}
  {% assign multiday = false %}
  {% for episode in site.episodes %}
    {% if episode.start %}{% assign multiday = true %}{% break %}{% endif %}
  {% endfor %}
  {% assign current = site.start_time %}

   <iframe>
  src= "https://drive.google.com/file/d/15vwBwz9Q_RPCnZ9y4ZbuCThFWUz-uYc6/view?usp=sharing"
  frameborder="0"
  width="100%"
  height="280px"
  scrolling="auto">
</iframe>

  <p>
    The actual schedule may vary slightly depending on the topics and exercises chosen by the instructor.
  </p>

</div>
